@model JdMvcHouTai.Models.UserBackgroundPage

@{
    ViewData["Title"] = "登录";
}

<div class="snow-container">
    <div class="snow foreground"></div>
    <div class="snow foreground layered"></div>
    <div class="snow middleground"></div>
    <div class="snow middleground layered"></div>
    <div class="snow background"></div>
    <div class="snow background layered"></div>
</div>
<div class="top-buttons-agileinfo"><a href="index.html" class="active">登录</a><a asp-action="Register">注册</a></div>
<h1>欢迎进入后台管理系统</h1>
<div class="main-agileits">
    <div class="form-w3-agile">
        <h2 class="sub-agileits-w3layouts">登录系统</h2>
        <form asp-action="Index" method="post">
            <input type="text" asp-for="Emile" placeholder="请输入用户名" required="" />
            <span asp-validation-for="Emile" class="text-danger"></span>
            <input type="password" asp-for="PassWord" placeholder="请输入密码" required="" />
            <span asp-validation-for="PassWord" class="text-danger"></span>
            <div class="submit-w3l">
                <input type="submit" value="登录">
            </div>
            <p class="p-bottom-w3ls"><a asp-action="Register">这里注册</a>如果你还没有一个账号.</p>
        </form>
    </div>
</div>
@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
}




